In [1]:
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd

In [3]:
import datetime as dt

In [4]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [5]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/hawaii_db')

In [6]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [7]:
# We can view all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [8]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [9]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [10]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days = 365)

# Perform a query to retrieve the date and precipitation scores
results = session.query(Measurement.date, Measurement.prcp).all()

# Save the query results as a Pandas DataFrame and set the index to the date column
results_df = pd.DataFrame(results, columns = ['date', 'precipitation'])
results_df.set_index(results_df['date'], inplace = True)

# Sort the dataframe by date
results_df = results_df.sort_index()
results_df.drop(columns=['date'], inplace = True)

In [11]:
# Use Pandas to calcualte the summary statistics for the precipitation data
results_df.describe()

       precipitation
count          19103
unique           343
top                0
freq            8848

In [12]:
# Design a query to show how many stations are available in this dataset?
session.query(func.count(Station.station)).all()

[(9)]

In [13]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

[('USC00519397', 3724),
 ('USC00519281', 2772),
 ('USC00513117', 2709),
 ('USC00519523', 2669),
 ('USC00516128', 2612),
 ('USC00514830', 2202),
 ('USC00511918', 1979),
 ('USC00517948', 1372),
 ('USC00518838', 511)]

In [14]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
temp_min = func.min(Measurement.tobs)
temp_max = func.max(Measurement.tobs)
temp_avg = func.avg(Measurement.tobs) 
session.query(temp_min, temp_max).all()

[('53', '87')]

In [16]:
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').all()
results_df = pd.DataFrame(results, columns = ['tobs'])
results_df.head()

  tobs
0   70
1   62
2   74
3   75
4   74